@import 'compass';

html {
  font-family: 'Roboto', sans-serif;
}

#recipe-box {
  padding: 30px;
  margin: 0 auto;
  width: 70%;
  text-align:right;
  background: rgba(230,230,230,1);
  border: {
    style: solid;
    color: rgba(0,0,0,.1);
    width: 1px;
    radius: 3px;
  }
}

.userRecipe {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.recipeName {
  width: 100%;
  padding: 10px;
  color: white;
  background: #84767E;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  @include text-shadow((1px 1px 1px rgba(0,0,0,.4)));
  @include box-shadow((1px 1px 2px rgba(0,0,0,.3)));
  border: {
    style: solid;
    color: rgba(0,0,0,.2);
    width: 1px;
  }
}

.userRecipeDetails {
  display: none;
  padding: 10px;
  text-align: center;
  background: #C0B1B2;
  border: {
    style: solid;
    color: rgba(0,0,0,.2);
    width: 1px;
  }
}

.ingredientsHeader {
  color: white;
  @include text-shadow((0px 2px 2px rgba(0,0,0,.2)));
  border: {
    width: 0;
    style: solid;
    color: #84767E;
    bottom-width: 1px;
  }
}

.ingredient {
  display: block;
  padding: 10px;
  margin: 5px;
  color: white;
  background: #84767E;
  @include box-shadow((1px 1px 2px rgba(0,0,0,.3)));
  border: {
    style: solid;
    color: rgba(0,0,0,.2);
    width: 1px;
  }
  @include text-shadow((1px 1px 1px rgba(0,0,0,.1)));
}

input,textarea,label {
  text-align: left;
  display: block;
}

textarea {
  width: 80%;
}

.recipeForm {
  display: none;
  margin-top: 15px;
  padding: 30px;
  width: 100%;
  background: #C0B1B2;
  border: {
    width: 0px;
    top-width: 1px;
    bottom-width: 1px;
    color: #84767E;
    style: solid;
  }
}

.addRecipe {
  width: 100%;
  margin-left: -30px; 
}

.submit-button {
  padding: 10px;
  margin-top: 20px;
  font: {
    family: 'Roboto', sans-serif;
    size: 18px;
  }
  border: {
    style: solid;
    width: 1px;
    color: rgba(0,0,0,.2);
    radius: 3px;
  }
  @include box-shadow((1px 1px 2px rgba(0,0,0,.1)));
  background: #BEC9BA;
  color: white;
}
